$light-orange: #fdbd39;

@mixin login-button {
  border-radius: 25px;
  height: 60px;
}

.login-form {
  border-radius: 3px;
  margin: -10px auto 0;
  min-width: calc(260px - 2rem);
  padding: 0 1rem;
  width: 35%;

  .warning {
    height: 16px;
    overflow: hidden;
    text-align: center;

    p {
      font-size: 14px;
      margin: 0;
    }
  }

  >div {
    position: relative;
  }

  p {
    color: #ff6347;
    margin: .5rem 0;
  }

  input {
    background-color: $light-orange;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 25px;
    line-height: 2rem;
    width: 100%;
    @include login-button;
  }

  input:not([type='button']) {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #dcd9db;
    border-radius: 0;
    color: rgb(41, 39, 39);
    cursor: auto;
    font-size: 20px;
    height: 30px;
    margin-bottom: 1rem;
  }

  input:focus {
    border-bottom: 1px solid $light-orange;
    outline: none;
  }
}

.loading-input {
  align-items: center;
  background-color: #4168df;
  cursor: not-allowed;
  display: flex;
  justify-content: center;
  @include login-button;
}

.shaking {
  animation: shaking .3s linear infinite;
  @keyframes shaking {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(5deg);
    }

    50% {
      transform: rotate(0deg);
    }

    75% {
      transform: rotate(-5deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }
}
