.board-list {
  background-color: rgb(0, 121, 191);
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  height: 80px;
  line-height: 40px;
  margin: 0 15px 12px 0;
  min-width: 270px;
  padding: 0 10px;
  user-select: none;
  width: 31%;

  &:hover {
    background-color: rgb(0, 104, 160);
  }

  p {
    height: 40px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .board-name {
    color: #fff;
    font-size: 24px;
  }

  .board-date {
    color: #bbb;
    font-size: 14px;
  }
}
