.board-card {
  background-color: #f6f6f6;
  border-left: 4px solid #f00;
  border-radius: 0 5px 5px 0;
  margin: 0 10px 10px;
  padding: 10px 10px 0 0;

  &:last-child {
    margin: 0 10px 5px;
  }

  p {
    margin: 0;
    overflow: hidden;
  }

  &:hover {
    span {
      transform: translate(0);
      transition: all .2s ease-in 0s;
    }
  }

  span {
    color: #f44336;
    display: flex;
    flex-direction: row-reverse;
    font-family: 'Indie Flower', cursive;
    transform: translateX(28px);
    transition: all .2s ease-in 0s;
  }

  .card-title {
    font-weight: bold;
    word-wrap: break-word;
  }

  .card-subtitle {
    color: #bbb;
    font-size: 14px;
    word-wrap: break-word;
  }

  .card-info {
    display: flex;
    flex-direction: column-reverse;
  }
}

.card-footer {
  align-items: center;
  display: flex;
  margin-top: 10px;

  .card-tag {
    background-color: #f00;
    border-radius: 25px;
    color: #fff;
    padding: 2px 5px;
  }

  .card-stat {
    color: #bbb;
    margin-left: 5px;
  }

  .card-users {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 2;

    > div {
      background: rgba(0, 0, 255, .2);
      border-radius: 10px;
      height: 20px;
      margin-left: 3px;
      width: 20px;
    }
  }
}
