.board-column-wrapper {
  color: #717171;
  height: 100%;
  margin-right: 20px;
  min-width: 270px;
  width: 270px;

  .board-column {
    background-color: #fff;
    box-shadow: 0 1px 5px #ddd;
    font-family: Arial, Helvetica, sans-serif;

    >p {
      margin: 0;
    }
  }
}

.column-header {
  align-items: flex-start;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  min-height: 24px;
  padding: 10px;
  position: relative;

  .edit-icon {
    background-image: url('../../../img/edit.png');
    background-size: 100%;
    cursor: pointer;
    filter: contrast(2.5);
    height: 24px;
    width: 24px;
  }

  .column-title {
    margin: 0;
    max-width: 210px;
    word-break: break-word;
  }
}

.add-card {
  align-items: center;
  background-color: #fafafa;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  font-weight: bold;

  &:hover {
    background-color: #eee;
  }

  a {
    color: #bbb;
    font-size: 14px;
  }
}

