.board-column-wrapper {
  box-sizing: border-box;
  color: #717171;
  height: 100%;
  margin-right: 20px;
  min-width: 270px;
  width: 270px;

  .board-column {
    background-color: #fff;
    box-shadow: 0 1px 5px #ddd;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;

    >p {
      margin: 0;
    }
  }
}

.column-header {
  align-items: flex-start;
  cursor: move;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  min-height: 24px;
  padding: 10px;
  position: relative;

  .edit-icon {
    background-image: url('../../../img/edit.png');
    background-size: 100%;
    cursor: pointer;
    filter: contrast(2.5);
    height: 24px;
    width: 24px;
  }
}

.display-none {
  display: none;
}

.column-title {
  margin: 0;
  max-width: 210px;
  word-break: break-word;
}

.column-title-editing {
  align-items: center;
  display: flex;
  margin: 0;
  max-width: 270px;
  word-break: break-word;

  input {
    border: 1px solid #bbb;
    border-radius: 5px;
    box-sizing: border-box;
    height: 24px;
    margin-right: 10px;
    padding: 0 5px;
    width: 70%;
  }

  button {
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    height: 24px;
    line-height: 24px;
    padding: 0;
    width: 24px;

    &:focus {
      outline: 0;
    }
  }
}

.add-card {
  align-items: center;
  background-color: #fafafa;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  height: 70px;
  justify-content: left;
  flex-wrap: wrap;
  padding-left: 15px;
  
  &:hover {
    background-color: #eee;
  }

  a {
    color: #bbb;
    font-size: 14px;
  }

  input {
    border: 1px solid #bbb;
    border-radius: 5px;
    box-sizing: border-box;
    height: 30px;
    margin-right: 10px;
    padding: 0 5px;
    width: 55%;
  }

  button {
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    padding: 0;

    &:focus {
      outline: 0;
    }
  }

  select {
    margin-left: 10px;
  }
}
