body {
    margin: 0;
    padding: 0;
    #root {
        width: 100%;
    }
}

.board-nav {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    box-shadow: 0px 0px 15px gray;
    p {
        margin: 0;
        padding: 0;
    }
    .nav-item {
        width: calc(100% / 3);
        display: flex;
        align-items: center;
        font-weight: bold;
        text-decoration: none;
        &:first-child {
          * {
            margin: 0 5px;
          }
          p {
            color: #717171;
            text-transform: uppercase;
          }
          img {
              width: 25px;
              height: 25px; 
              background-color: white;
          }
          input {
              height: 90%;
              width: 150px;
              background-color: #eeeeee;
              border: 0px;
              border-radius: 20px;
              background-image: url('../../../img/nav/Loupe.png');
              background-repeat: no-repeat;
              background-position: 95% 50%;
              background-size: 15px;
          }
        }
        &:last-child {
          display: flex;
          justify-content: flex-end;
        };
        &:nth-child(2) {
          display: flex;
          justify-content: center;
          font-size: 18px;
          color:#4A90E2;
        }
    }
}
