h1 {
  color: #67a2e7;
  font-family: Helvetica;
  text-transform: capitalizeï¼›
}

.loginMain {
  background-color: rgb(248, 247, 247);
  border-radius: 25px;
  box-shadow: -1px 2px 126px -14px rgba(102, 121, 143, 1);
  margin: 100px;
  padding: 20px 42px;
  text-align: center;
  width: 50%;
  min-width: calc(260px - 2rem);

  p {
    font-family: 'Raleway', sans-serif;
  }

  a {
    text-decoration: none;
  }

  img {
    animation-duration: 1.5s;
    animation-name: move;
    height: 120px;
    position: relative;
    width: 120px;
  }

  @keyframes move {
    from {
      transform: translateX(120px);
    };

    to {
      transform: translateX(0);
    };
  }
}

body {
  background-color: #f2f6f8;
  display: flex;
  justify-content: center;
}

