$lightOrange: #fdbd39;
@mixin loginButton {
    height: 60px;
    border-radius: 25px;
}

.login-form {
    padding: 0 1rem;
    border-radius: 3px;
    min-width: calc(260px - 2rem);
    width: 35%;
    margin: -10px auto 0;
    .warning {
        overflow: hidden;
        height: 16px;
        text-align: center;
        p {
            margin: 0;
            font-size: 14px;
        }
    }
    >div {
        position: relative;
    }
    p {
        margin: 0.5rem 0;
        color: tomato;
    }
    input {
        display: block;
        width: 100%;
        line-height: 2rem;
        background-color: $lightOrange;
        font-size: 25px;
        cursor: pointer;
        color: #fff;
        border: none;
        @include loginButton;
    }
    input:not([type="button"]) {
        background-color: transparent;
        height: 30px;
        font-size: 20px;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #dcd9db;
        margin-bottom: 1rem;
        cursor: auto;
        color: rgb(41, 39, 39);
    }
    input:focus {
        outline: none;
        border-bottom: 1px solid $lightOrange;
    }
}

.loading-input {
    background-color: royalblue;
    cursor: not-allowed;
    @include loginButton;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shaking {
    animation: shaking 0.3s linear infinite;
    @keyframes shaking {
        0% {
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(5deg);
        }
        50% {
            transform: rotate(0deg);
        }
        75% {
            transform: rotate(-5deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
}