$light-orange: #fdbd39;

.register-form {
  border-radius: 3px;
  margin: auto;
  min-width: calc(260px - 2rem);
  padding: 1rem;
  width: 35%;

  input {
    background-color: $light-orange;
    border: 0;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 25px;
    height: 60px;
    line-height: 2rem;
    width: 100%;
  }

  input:not([type='submit']) {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #dcd9db;
    border-radius: 0;
    color: rgb(41, 39, 39);
    cursor: auto;
    font-size: 20px;
    height: 30px;
    margin-bottom: 1rem;
  }

  input:focus {
    border-bottom: 1px solid $light-orange;
    outline: none;
  }
}
