html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  
  > div {
    height: 100%;

    > div {
      height: 100%;
    }
  }
}

.board {
  height: 100%;

  .board-header {
    color: #717171;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 10px 10px;

    p {
      height: 32px;
      line-height: 32px;
      margin: 0;
      text-transform: uppercase;
    }
  }
  
  .board-main {
    display: flex;
    flex-direction: row;
    height: calc(100% - 137px);
    padding: 15px 10px;
  }
}

.add-column {
  .board-column {
    cursor: pointer;
    padding: 0 !important;
    user-select: none;
  }
}

.board-main-list {
  align-content: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: calc(100% - 117px);
  justify-content: flex-start;
  padding: 15px 10px;
}

.board-add-list {
  background-color: #ffb6c1;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(168, 90, 90);
  box-sizing: border-box;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  height: 80px;
  line-height: 40px;
  margin: 0 15px 12px 0;
  min-width: 270px;
  padding: 0 10px;
  user-select: none;
  width: 31%;

  p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .board-name {
    font-size: 24px;
  }

  .board-id {
    color: #888;
    font-size: 14px;
  }

  input {
    border: 1px solid #bbb;
    border-radius: 5px;
    height: 25px;
    padding: 0 5px;

    &:focus {
      box-shadow: inset 0 0 5px #bbb;
      outline: none;
    }
  }

  button {
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    padding: 0;
    width: 60px;

    &:focus {
      outline: 0;
    }

    &:first-child {
      background-color: #fff;
    }

    &:last-child {
      background-color: #666;
    }
  }
}

@keyframes gradeToLimeGreen {
  from {
    background-color: #90ee90;
  }

  to {
    background-color: #32cd32;
  }
}

@mixin button-pseudo {
  &::before,
  &::after {
    border-left: 2px solid #000;
    content: '';
    height: 70%;
    position: absolute;
    top: 15%;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
