html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  
  > div {
    height: 100%;

    > div {
      height: 100%;
    }
  }
}

.board {
  height: 100%;

  .board-header {
    color: #717171;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 10px 10px;

    p {
      height: 32px;
      line-height: 32px;
      margin: 0;
      text-transform: uppercase;
    }
  }
  
  .board-main {
    display: flex;
    flex-direction: row;
    height: calc(100% - 150px);
    margin: 0 10px;
    overflow-x: scroll;
    padding: 15px 0;

    &::-webkit-scrollbar {
      height: 12px;
    }

    &::-webkit-scrollbar-track {
      background-color: #ddd;
      -webkit-border-radius: 2em;
      -moz-border-radius: 2em;
      border-radius: 2em;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #026aa7;
      -webkit-border-radius: 2em;
      -moz-border-radius: 2em;
      border-radius: 2em;
    }
  }
}

.board-main-list {
  align-content: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: calc(100% - 117px);
  justify-content: flex-start;
  margin: 20px 50px;
}

.board-add-list {
  background-color: #ddd;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  height: 80px;
  justify-content: space-between;
  line-height: 80px;
  margin: 0 15px 12px 0;
  min-width: 270px;
  padding: 0 10px;
  text-align: center;
  transition: all .2s ease-in 0s;
  user-select: none;
  width: 31%;

  &:hover {
    background-color: #ccc;
  }

  p {
    color: #888;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .board-name {
    font-size: 24px;
  }
}

.board-add-list-row {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  line-height: 40px;

  input {
    border: 1px solid #bbb;
    border-radius: 5px;
    height: 70%;
    margin-top: 5px;
    padding: 0 5px;
    width: 100%;

    &:focus {
      box-shadow: inset 0 0 5px #bbb;
      outline: none;
    }
  }

  button {
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    padding: 0;

    &:focus {
      outline: 0;
    }
  }
}

.board-add-list-ok-button {
  background-color: rgb(75, 191, 107);
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
  width: 25%;

  &:hover {
    background-color: rgb(69, 175, 97);
  }
}

.board-add-list-cancel-button {
  background-color: transparent;
  color: #666;
  font-size: 40px;

  &:hover {
    color: #999;
  }
}

.personal-board {
  flex-basis: 100%;
  font-family: Arial, Helvetica, sans-serif;
  height: 24px;
  margin-bottom: 20px;

  p {
    align-items: center;
    display: flex;
    margin: 0;

    img {
      display: inline-block;
      height: 24px;
      margin-right: 20px;
      width: 24px;
    }

    span {
      font-size: 1.4em;
    }
  }
}

.board-welcome-list {
  background-color: rgb(75, 191, 107);
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  height: 80px;
  justify-content: space-between;
  line-height: 80px;
  margin: 0 15px 12px 0;
  min-width: 270px;
  padding: 0 10px;
  text-align: center;
  user-select: none;
  width: 31%;

  &:hover {
    background-color: rgb(62, 160, 88);
  }

  p {
    color: #fff;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .board-name {
    font-size: 24px;
  }
}
