@media screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {
  .nav-left input {
    display: none;
  }

  .board,
  .board-list,
  .board-add-list,
  .board-list-loading {
    width: 100%;
  }

  .board-nav {
    min-width: 320px;
    position: fixed;
  }

  .board-main-list {
    margin: 18% 5% 5% 5%;
  }

  .board-header {
    margin-top: 12%;
  }

  .board-column-wrapper {
    height: auto;
  }

  .login-main {
    border-radius: 0;
    margin: 0 auto;
    overflow-x: hidden;
    width: 100%;
  }

  .root>div {
    display: flex;
  }

  .delete-icon {
    transform: translateX(0px);
  }
}
