@media screen 
and (min-device-width: 320px) 
and (max-device-width: 480px){
    .nav-left input{
        display: none;
    }
    .board-nav {
      min-width: 320px;
    }
    .board-main-list {
      margin:5%;
    }
    .board-main {
      flex-wrap: wrap;
      overflow-x: hidden;
    }
    .board-column-wrapper {
      height: auto;
    }
    .login-main {
      margin: 0 auto;
      width: 100%;
      overflow-x: hidden;
    }
    #root > div {
      display: flex;
    }
}